shamefully-hoist=true
allow-build[]=@firebase/util
allow-build[]=@nestjs/core
allow-build[]=@prisma/engines
allow-build[]=prisma
allow-build[]=protobufjs
allow-build[]=unrs-resolver
fund=false
update-notifier=false
